$snotify-animation-name: 'fade';
.snotifyToast {
  animation-fill-mode: forwards;
}

.snotify-rightBottom {
  .#{$snotify-animation-name}In {
    animation-name: fadeInRight, fadeMedium, fadeStrong;
    animation-delay: 40ms, 7s, 12s;
  }

  .#{$snotify-animation-name}Out {
    animation-name: fadeOutRight;
  }
}

.snotify-centerCenter {
  .#{$snotify-animation-name}In {
    animation-name: fadeIn;
  }

  .#{$snotify-animation-name}Out {
    animation-name: fadeOut;
  }
}

// Fade in
@keyframes fadeInRight {
  from {
    opacity: 0;
    animation-timing-function: ease-out;
    transform: translate3d(100%, 0, 0) scaleX(1.2);
  }
  to {
    opacity: 1; 
    transform: none;
  }
}
@keyframes fadeMedium {
  from {
    opacity: 1;
  }
  to {
    opacity: .7;
    transform: none;
  }
}
@keyframes fadeStrong {
  from {
    opacity: .7;
  }
  to {
    opacity: .4;
    transform: none;
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// Fade out
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOutRight {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

// Toast collapse
@keyframes appear {
  0% {
    max-height: 50vh;
  }
  100% {
    max-height: 50vh;
  }
}

@keyframes disappear {
  0% {
    opacity: 0;
    max-height: 50vh;
  }
  100% {
    opacity: 0;
    max-height: 50vh;
  }
}

@keyframes async {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
    transform: translate(0, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
    transform: translate(0, -50%) rotate(360deg);
  }
}