.snotifyToast__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin-top: 30px;

  button {
    margin-left: 10px;
    position: relative;
    border-top: none;
    border-bottom: none;
    background: transparent;
    padding: 8px;
    text-transform: capitalize;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    padding: 14px 30px;
    min-width: 35%;
    border-radius: 6px;
    font-size: 22px;
    line-height: 26px;
    border: 1px solid #fff;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: rgba(255, 255, 255, .3);
      opacity: 0;
      border-radius: 100%;
      transform: scale(.4, .4) translate(-50%);
      transform-origin: 50% 50%;
    }

    &:focus:not(:active)::after {
      animation: ripple 400ms ease-out;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 0px 12px rgba(1, 181, 174, 0.9);
      outline: none;
      border: 1px solid transparent;
    }

    &:active {
      background: rgba(0, 0, 0, .15);
    }

    &:first-child {
      margin-left: 0;
      border-color: transparent;
      background: linear-gradient(90deg, #02AAB0 -18.33%, #00CDAC 100%);
    }


    &:hover {
      background: linear-gradient(90deg, #02AAB0 -18.33%, #00CDAC 100%);
      box-shadow: 0px 0px 12px rgba(1, 181, 174, 0.9);
    }
  }

  &--bold {
    font-weight: 700;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(15, 15);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}


@keyframes bounceInDown {

  0%,
  60%,
  75%,
  90%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(.9);
  }

  75% {
    transform: translate3d(0, -10px, 0) scaleY(.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(.985);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}